<% include partials/header.ejs%>

  <ul class="nav nav-sidebar">
    <li class="active"><a href="/summary">Account Summary</a></li>
    <li><a href="/buysell">Buy/Sell</a></li>
    <li><a href="/ledger">Ledger History</a></li>
  </ul>

</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	
<!-- remove false to activate-->	
 <%  if (!isAuthenticated && false){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>

  <h1 class="page-header">Account Summary</h1>

<!--   obj = {ticker: [], quantity: [], price: [], cost: []}; -->



  <% console.log("PASSING SUCCESS", obj); %>


   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Share Price</th>
          <th># of Shares</th>
          <th>Market Value</th>
          <th>Cost Basis</th>
          <th>Net Gain/(Losses)</th>
        </tr>
      </thead>
      <tbody>
        <% var cash = 100000; %>
        <% for (var i = 0; i < obj.ticker.length; i+=1) { %>
        <% cash -= obj.cost[i]; %>
        <% } %>
          <tr><span id="price">You started with $100,000 and have $<%= cash %> remaining balance. Your current portfolio holdings are as follows:</span></tr><br><br>
        <% for (var i = 0; i < obj.ticker.length; i+=1) { %>
        <% var marketValue = obj.price[i]*obj.quantity[i]; %>
        <% var netGain = marketValue - obj.cost[i]; %>
          <tr>
            <td><%= obj.ticker[i] %></td>
            <td><%= obj.price[i] %></td>
            <td><%= obj.quantity[i] %></td>
            <td><%= marketValue %></td>
            <td><%= obj.cost[i] %></td>
            <td><%= netGain %></td>
          </tr>
        <% } %>

      </tbody>
    </table>
  </div>


<!--   <div>
    <ul>
      <li>Cumulative Earnings: $<%= data.dataValues.cumEarning %></li>
      <li>Current Balance: $<%= data.dataValues.curBalance %></li>
    </ul>
  </div>
 -->
<!--   integrate expandable stacked line chart for cash and portfolio mix
  list all holdings by ticker
 -->

<!--   <button onclick="window.location.href='/add'" class="btn btn-primary btn-lg">Add Value</button>
  <button onclick="window.location.href='/subtract'" class="btn btn-danger btn-lg">Withdraw Value</button>
 --> 
	<%  }%>

<% include partials/footer.ejs%>

